.h1 {
    -fx-font-size: 32;
}

.h2 {
    -fx-font-size: 24;
}

.h3 {
    -fx-font-size: 18;
}

.container {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

MenuBar, Menu, MenuItem {
    -fx-font-size: 12;
}